@model MyStoreDomain.Entities.MyItem
<!--one single item-->
@{
    ViewBag.Title = "OneItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<div class="col-lg-9 ">
    <div class="ColorCSS" style="min-height:900px; font-family:Arial !important;">
        
        
            <h3>
                <strong>@Model.Name1</strong><br />
               
            </h3>

          @if (Model.ImageData != null)
          {
            <div class="text-center " >
                <img class="img-thumbnail"  style="min-height:400px"
                     src="@Url.Action("GetImage", "Home", new { Model.NumberID })" /> 
       </div>
          }
        <div style="font-size:small;">
            <label>Autor</label>
            @Model.AutorName<br />
            <label>Cena</label>
            @Model.Price
        </div>

        <div style="font-size:large;">
            @Model.Description
        </div>
            @using (Html.BeginForm("AddToCart", "Cart"))
            {
                    @Html.Hidden("productId", Model.NumberID)  
                    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)  
                <div style="position:absolute; bottom:15px; right:35%; left:35%;">
                    <input type="submit" class="btn btn-primary" value="Dodaj do koszyka" />
              </div>
                    }

                </div>
</div>